@page "/edit/{userId}"
@using Luzyce.Core.Models.User
@using LuzyceWebApp.Services
@inject UserService UserService
@inject NavigationManager NavManager

@if (user == null)
{
	<p><em>Ładowanie...</em></p>
}
else
{
	<h1>Edytuj użytkownika</h1>
	<form @onsubmit="HandleSubmit">
        <div class="row">
            <div class="col form-group">
                <label>Imię:</label>
                <input type="text" class="form-control" id="name" @bind="user.Name">
            </div>
            <div class="col form-group">
                <label>Nazwisko:</label>
                <input type="text" class="form-control" id="lastName" @bind="user.LastName">
		    </div>
        </div>
        <br>
        <div class="row">
            <div class="col form-group">
                <label>Login:</label>
                <input type="text" class="form-control" id="login" @bind="user.Login">
            </div>
            <div class="col">
                <button class="btn btn-primary">Zresetuj Hasło</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col form-group">
                <label>Email:</label>
                <input type="text" class="form-control" id="email" @bind="user.Email">
            </div>
            <div class="col form-group">
                <label>Hash:</label>
                <input type="text" class="form-control" id="hash" @bind="user.Hash">
            </div>
        </div>
        <br>

		<button type="submit" class="btn btn-primary">Zapisz</button>
	</form>
}

@code {
	[Parameter]
	public string userId
	{
		get { return uId.ToString(); }
		set
		{
			int.TryParse(value, out uId);
		}
	}

	public int uId = -1;


	private GetUserForUpdateDto user = new GetUserForUpdateDto();

	protected override async Task OnInitializedAsync()
	{
		if (uId < 1)
		{
			NavManager.NavigateTo("/users");
			return;
		}

		user = await UserService.GetUserByIdAsync(uId);
	}

	private async Task HandleSubmit()
	{
		await UserService.UpdateUserAsync(user);
		NavManager.NavigateTo("/users");
	}
}
