@page "/login"
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavManager
@inject AccountService AccountService

@using LuzyceWebApp.Services
@using Microsoft.AspNetCore.Components.Authorization
@using Luzyce.Core.Models.User
@inject IJSRuntime js


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            @if (showError)
            {
                <div class="alert alert-danger" role="alert">
                    @errorMessage
                </div>
            }
            <div class="card">
                <div class="card-body">
                    <EditForm Model="User" OnValidSubmit="HandleLogin">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="form-group">
                            <label for="login">Login</label>
                            <input @bind="User.Login" class="form-control" type="text" id="login">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="password">Hasło</label>
                            <input @bind="User.Password" class="form-control" type="password" id="password">
                        </div>
                        <br>
                        <button class="btn btn-primary  form-control" type="submit">Zaloguj się</button>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    public LoginDto User { get; set; } = new LoginDto { IpAddress = "127.0.0.1" };
    private bool showError = false;
    private string errorMessage = string.Empty;

    async Task HandleLogin()
    {
        var resp = await AccountService.LoginAccount(User);
        if (resp.Result is not null)
        {
            var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
            await customAuthStateProvider.UpdateAuthenticationState(resp.Token);
            NavManager.NavigateTo("/", forceLoad: true);
        }
        else
        {
            showError = true;
            errorMessage = "Spróbuj ponownie.";
        }
    }
}
