@page "/users"
@using Luzyce.Core.Models.User
@using LuzyceWebApp.Services
@inject UserService UserService
@inject NavigationManager NavManager

@if (users == null || !users.Any())
{
    <p><em>Ładowanie...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Imie</th>
                <th>Nazwisko</th>
                <th>Edycja</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>@user.LastName</td>
                    <td><a class="btn btn-primary btn-sm" href="@($"edit/{user.Id}")">Edytuj</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<GetUserResponseDto> users = new List<GetUserResponseDto>();

    protected override async Task OnInitializedAsync()
    {
        users = await UserService.GetUsersAsync();
    }
}
