@page "/users/new"
@using Luzyce.Core.Models.User
@using LuzyceWebApp.Services
@inject UserService UserService
@inject NavigationManager NavManager

@if (roles == null)
{
    <p><em>Ładowanie...</em></p>
}
else
{
    <h1>Dodaj nowego użytkownika</h1>
    <form @onsubmit="HandleSubmit">
        <div class="row">
            <div class="col form-group">
                <label>Imię:</label>
                <input type="text" class="form-control" id="name" @bind="user.Name">
            </div>
            <div class="col form-group">
                <label>Nazwisko:</label>
                <input type="text" class="form-control" id="lastName" @bind="user.LastName">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col form-group">
                <label>Email:</label>
                <input type="email" class="form-control" id="email" @bind="user.Email">
            </div>
            <div class="col form-group">
                <label>Hash:</label>
                <input type="text" class="form-control" id="hash" @bind="user.Hash">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col form-group">
                <label>Login:</label>
                <input type="text" class="form-control" id="login" @bind="user.Login">
            </div>
            <div class="col form-group">
                <label>Hasło:</label>
                <input type="password" class="form-control" id="password" @bind="user.Password">
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Zapisz</button>
    </form>
}

@code {
    private CreateUserDto user = new CreateUserDto
    {
        Name = string.Empty,
        LastName = string.Empty,
        Email = string.Empty,
        Login = string.Empty,
        Password = string.Empty,
        Hash = string.Empty
    };

    private List<GetRoleDto> roles = new List<GetRoleDto>();

    protected override async Task OnInitializedAsync()
    {
        roles = await UserService.GetRolesAsync();
    }

    private async Task HandleSubmit()
    {
        await UserService.CreateUserAsync(user);
        NavManager.NavigateTo("/users");
    }
}
