@page "/users/resetPassword/{userId:int}"
@using Luzyce.Core.Models.User
@using LuzyceWebApp.Services
@inject UserService UserService
@inject NavigationManager NavManager

<h1>Zresetuj Hasło Użytkownika</h1>
@if (showError)
{
<div class="alert alert-danger" role="alert">
    @errorMessage
</div>
}
<form @onsubmit="HandleSubmit">
    <div class="form-group">
        <label>Nowe Hasło:</label>
        <input type="password" class="form-control" id="newPassword" @bind="updatePasswordDto.NewPassword">
    </div>
    <div class="form-group">
        <label>Potwierdź Nowe Hasło:</label>
        <input type="password" class="form-control" id="confirmPassword" @bind="confirmPassword">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Zresetuj Hasło</button>
</form>

@code {
    [Parameter] public int userId { get; set; }
    
    private bool showError;
    private string errorMessage = string.Empty;

    private readonly UpdatePasswordDto updatePasswordDto = new UpdatePasswordDto();
    private string confirmPassword = string.Empty;

    private async Task HandleSubmit()
    {
        if (updatePasswordDto.NewPassword != confirmPassword)
        {
            showError = true;
            errorMessage = "Hasła się nie zgadzają. Spróbuj ponownie";
            return;
        }

        await UserService.ResetPasswordAsync(userId, updatePasswordDto);
        NavManager.NavigateTo("/users");
    }
    
}