@page "/users/resetpassword/{userId}"
@using Luzyce.Core.Models.User
@using LuzyceWebApp.Services
@inject UserService UserService
@inject NavigationManager NavManager

<h1>Zresetuj Hasło Użytkownika</h1>
<form @onsubmit="HandleSubmit">
    <div class="form-group">
        <label>Nowe Hasło:</label>
        <input type="password" class="form-control" id="newPassword" @bind="updatePasswordDto.NewPassword">
    </div>
    <div class="form-group">
        <label>Potwierdź Nowe Hasło:</label>
        <input type="password" class="form-control" id="confirmPassword" @bind="confirmPassword">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Zresetuj Hasło</button>
</form>

@code {
    [Parameter]
    public string userId
    {
        get { return uId.ToString(); }
        set
        {
            int.TryParse(value, out uId);
        }
    }

    private int uId = -1;
    private UpdatePasswordDto updatePasswordDto = new UpdatePasswordDto();
    private string confirmPassword = string.Empty;

    private async Task HandleSubmit()
    {
        if (updatePasswordDto.NewPassword != confirmPassword)
        {
            // Optionally display an error message to the user
            return;
        }

        await UserService.ResetPasswordAsync(uId, updatePasswordDto);
        NavManager.NavigateTo("/users");
    }
}
