@page "/productionOrder"


<a class="btn btn-primary" href="@($"productionOrder/open")">Otwórz Zlecenie Produkcji</a>
<a class="btn btn-primary" href="@($"productionOrder/new")">Nowe Zlecenie Produkcji</a>